.btn {
  outline: none;
  border: 1px solid transparent;
  color: white;
  line-height: 1.47059;
  width: 80%;
  max-width: 387px;
  padding: 20px;
  font-family: $font-text-bold;
  font-size: 10px;
  text-transform: uppercase;
  background: black;
  cursor: pointer;
  @include sm {
    width: 80%;
  }
  @include md {
    width: 100%;
  }
  &:hover {
    color: black;
    background: white;
    border: 1px solid black;
  }
}
