.hero {
  height: 100vh;
  background: $amber;
  &__container {
    margin: 0;
    @include sm {
      margin: 0 10px
    }
    @include md {
      margin: 0 30px;
    }
    height: inherit;
  }
  &__content {
    display: none;
    margin: 85px 40px;
    @include md {
      display: block;
    }
    @include lg {
      margin: 85px 120px;
    }
    &--mobile {
      margin: 0 15%;
      @include sm {
        margin: 0 20%;
      }
      @include md {
        display: none;
      }
      display: flex;
      flex-direction: column;
      height: 85vh;
      justify-content: flex-end;
      align-items: center;
      & > * {
        margin-top: 15px;
      }
    }
  }
  &__shadow_text {
    font-family: 'Open Sans', sans-serif;
    color: $swirl;
    position: absolute;
    font-size: 18.7vw;
    opacity: 0.20;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  &__product {
    height: 275px;
    width: 275px;
    @include sm {
      height: 350px;
      width: 350px;
    }
    @include md {
      height: 500px;
      width: 500px;
    }
    &__title {
      color: $pampas;
      font-size: 32px;
    }
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin: auto;
  }
  &__quote {
    margin-top: 70px;
    height: 241px;
    line-height: 25px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    color: $pampas;
    &--mobile {
      color: $pampas;
    }
  }
  &__button {
    padding: 20px;
    outline: none;
    border: none;
    font-family: $font-text-bold;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    background: $golden_tainoi;
    width: 100%;
    cursor: pointer;
    & > a {
      color: inherit;
    }
    @include md{
      width: 170px;
    }
  }
}

.margin {
  margin-top: 75px;
}
